{% assign rating = ratingValue | plus: 0 %}
{% assign percentage = rating | times: 20 %}

<style>
  .stars-outer {
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 18px;
    color: #ccc;
  }

  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006"; /* empty stars */
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #F8CE0B;
    width: {{ percentage }}%;
  }

  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005"; /* filled stars */
  }

  .rating-text {
    font-size: 14px;
    margin-left: 6px;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

{% if ratingValue %}
  <div class="star-rating-wrapper" style="display: flex; align-items: center;">
    <div class="stars-outer">
      <div class="stars-inner"></div>
    </div>
    <span class="rating-text">
      {{ ratingValue }}/5{% if reviews %} Based on {{ reviews }} reviews{% endif %}
    </span>
  </div>
{% endif %}
