
<div class="page-width">
    <h1>{{ section.settings.heading_id }}</h1>
    {{section.settings.text_id}}
    </div>

    <style>

    </style>

{%schema %}
{
"name": "shivam",
"settings": [
    {
    "type": "text",
    "id": "heading_id",
    "label": "enter the text"
    },
    {
    "type": "textarea",
    "id": "text_id",
    "label": "enter text area",
    "default": "tell me about ur self"
        }
],
"blocks": [],
"presets": [
    {
    "name": "find me"
    }
]
}
{%endschema %}