
<div class="page-width">
    <h1>{{ heading_id }}</h1>
    </div>
{%schema %}
{
"name": "shivam",
"settings": [
    {
    "type": "text",
    "id": "heading_id",
    "label": "enter the text"
    }
],
"blocks": [],
"presets": [
    {
    "name": "find me"
    }
]
}
{%endschema %}